.record{
    min-height: 300px;
    margin: 100px 0 ;
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.record-img{
    background-size: 100% 100%; 
     background-position: 100% 100%;
     object-fit: contain;
    /* position: absolute; */
    background: url(../../../Geulgram/youtuber-ga11fe1cbc_640.jpg);
    height: 370px;
    width: 370px;
    /* left: 10%; */
    border-radius: 50%;
}
.record-img-2{
    height: 100%;
    border-radius: 50%;
    background: #9966ff;
    opacity: 0.5;
    width: 100%;
}
.record-cont{
    max-width: 500px;
    /* width: 100%; */
    font-family: serif;
    /* position: absolute;
    right: 10%; */
}
.record p{
    font-size: 30px;
    color: #333;
    /* width: 100%; */
    padding: 20px;
    /* font-weight: 600; */
    font-family: sans-serif;
}
.record .btn-cont{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.record .btn-cont button{
    font-size: 18px;
    border: none;
    background: #9966ff;
    color: #fff;
    padding: 10px ;
    width: 100px;
    transition: 0.6s;
    cursor: pointer;
}
.record .btn-cont button:hover{
    background: #7733ff;
}

/* media queries */

@media (max-width:770px) {
    .record-cont {
        /* padding: 10px; */
        flex-basis: 40%;
    }
    .record p{
        font-size: 25px;
    }
    .record{
        flex-direction: column-reverse;
    }
    .record-img{
        width: 300px;
        height: 300px;
    }
}