.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot ul{
    display: inline-flex;
    list-style-type: none;
    padding: 20px;
}
.foot ul li{
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.footer p{
    text-align: center;
    padding: 20px;
    width: 100%;
    border-top: 2px solid #000;
}
.footer{
    padding: 50px 5%;
}